@import "~bootstrap/scss/bootstrap.scss";

.light{
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    background-color: white;
}
.box{
    height: 8rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 0.5rem;
    
}
.stick{
    height: 5rem;
    width: 1rem;
    margin-left: 1.5rem;
}
